
    <div class="card mb-3 card-hover-effect shadow-sm rounded-4" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4 d-flex justify-content-center custom-img-container">
                <img [src]="ruta" class="img-fluid rounded-start py-2 custom-img-size" alt="...">
            </div>
            <div class="col-md-8 d-flex flex-column">
                <div class="card-body d-flex flex-column justify-content-between ps-0 text-center">
                    <p class="fw-light mb-0">{{phone?.brand}}</p>
                    <h5 class="card-title mt-1">{{phone?.model}}</h5>
                    <div class="mt-auto d-flex justify-content-center gap-2">
                   
                        <a [routerLink]="['../../phone/', phone?.idPhone?.toString()]"
                            class="btn btn-dark mt-auto d-flex justify-content-end stretched-link">Detalles</a>
    
                    </div>
                </div>
            </div>
        </div>
    </div>

  
