@defer (on viewport) {

    
<div class="container  py-5">
    <div class="row container">
        <div class="col-6 col-md-2 mb-3">
            <h5>Equipos</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Inicio</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Xiaomi</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Samsung</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Iphone</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Consolas</a></li>
            </ul>
            <div id="extwaiokist" style="display:none" v="fcoon" q="a5ce370d" c="784.1" i="790" u="5.334" s="07172403"
                sg="svr_09102316-ga_07172403-bai_07082405" d="1" w="false" e="" a="2" m="BMe=">
                <div id="extwaigglbit" style="display:none" v="fcoon" q="a5ce370d" c="784.1" i="790" u="5.334"
                    s="07172403" sg="svr_09102316-ga_07172403-bai_07082405" d="1" w="false" e="" a="2" m="BMe="></div>
            </div>
        </div>
        <div class="col-6 col-md-2 mb-3">
            <h5>Glosario</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="glossary"class="nav-link p-0 text-body-secondary">Glosario</a></li>
                <li class="nav-item mb-2"><a href="glossary" class="nav-link p-0 text-body-secondary">Blog</a></li>
                <li class="nav-item mb-2"><a href="https://www.nperf.com/es/map/AR/3860259.Cordoba/152394.Personal-Mvil/signal?ll=-31.4135&lg=-64.18105&zoom=12" class="nav-link p-0 text-body-secondary" target="_blank">Cobertura 5G</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">IA</a></li>
            </ul>
        </div>
        <div class="col-6 col-md-2 mb-3">
            <h5>Nosotros</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="https://wa.me/5493512129922" target="_blank" class="nav-link p-0 text-body-secondary">Contacto</a></li>
                <li class="nav-item mb-2"><a href="warranty" class="nav-link p-0 text-body-secondary">Garantia</a></li>
                <li class="nav-item mb-2"><a href="faqs" class="nav-link p-0 text-body-secondary">FAQs</a></li>
                <li class="nav-item mb-2"><a href="https://docs.google.com/spreadsheets/d/1MtaCGCL0fGMg25RdshtRKcakiy-ggLCjSeuhiKy4Zdk/edit?pli=1&gid=0#gid=0" class="nav-link p-0 text-body-secondary" target="_blank">Precios</a></li>
            </ul>
        </div>
        <div class="col-md-5 offset-md-1 mb-3">
            <form>
                <h5>Suscríbete a nuestra newsletter</h5>
                <p>Resumen mensual de nuestras novedades.</p>
                <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                    <label for="newsletter1" class="visually-hidden">Dirección de correo electrónico</label>
                    <input id="newsletter1" type="text" class="form-control"
                        placeholder="Dirección de correo electrónico">
                    <button class="btn btn-primary" type="button">Suscríbete</button>
                </div>
            </form>
        </div>
    </div>
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <a class="mr-3">
                <img src="../../assets/img/logo40x40.png" alt="">

            </a>
            <span class="mb-3 mb-md-0 text-body-secondary ms-2"> © 2024 MazaSistemas - Bombai</span>
        </div>
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-body-secondary" href="https://wa.me/5493512129922" target="_blank"><i
                        class="bi bi-whatsapp" style="font-size: 24px;"></i></a></li>
            <li class="ms-3"><a class="text-body-secondary" href="https://www.instagram.com/cordobacelularesoficial"
                    target="_blank"><i class="bi bi-instagram" style="font-size: 24px;"></i></a></li>
            <li class="ms-3"><a class="text-body-secondary" href="https://www.facebook.com/cordobacelularesoficial"
                    target="_blank"><i class="bi bi-facebook" style="font-size: 24px;"></i></a></li>
        </ul>
    </footer>
</div>

} @placeholder {<p>loading</p>}


